.footer {
    border-top: 1px solid #EEE;
    padding: 20px 0px;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
}

.footer a {
    color: #212529;
}

.footer a:hover {
    text-decoration: underline!important;
}

.footer ul {
    margin: 0px;
}

.footer ul li {
    list-style-type: none;
    display: inline;
    margin-left: 20px;
}

.footer ul li:first-child {
    margin-left: 0px;
}