.menu h6 {
    font-weight: 700;
    letter-spacing: 2px;
}

.menu a {
    color: #17a2b8;
}

.menu a:hover {
    color: #007788;
}

.menu .active {
    color: #007788;
    font-weight: 600;
    padding-left: -10px;
}